In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
# Descripcion del dataset: https://github.com/SistemasMapache/Covid19arData/blob/master/diccionariodatos.md

data_folder = '../dataset/sistemasMapache/'

datasource_filename = 'Covid19arData - covid19argentina_datasource.csv'
historico_filename = 'Covid19arData - historico.csv'

datasource_path = data_folder + datasource_filename
historico_path = data_folder + historico_filename

In [4]:
df_datasource = pd.read_csv('https://raw.githubusercontent.com/lprone/mentoria2020/master/dataset/sistemasMapache/Covid19arData%20-%20covid19argentina_datasource.csv')

In [5]:
df_datasource.head()

,fecha,osm_admin_level_2,covid19argentina_admin_level_4,SUMnue_casosconf_diff,SUMnue_fallecidos_diff,SUMtot_recuperados,SUMtot_test_negativos,SUMtot_test
0,2/03/2020,Argentina,capital-federal,1,0,0,0,0
1,3/03/2020,Argentina,no-data,0,0,0,0,0
2,4/03/2020,Argentina,no-data,0,0,0,0,0
3,5/03/2020,Argentina,buenos-aires,1,2,0,0,0
4,6/03/2020,Argentina,no-data,0,0,0,0,0

In [6]:
df_datasource.fillna(0)

,fecha,osm_admin_level_2,covid19argentina_admin_level_4,SUMnue_casosconf_diff,SUMnue_fallecidos_diff,SUMtot_recuperados,SUMtot_test_negativos,SUMtot_test
0,2/03/2020,Argentina,capital-federal,1,0,0,0,0
1,3/03/2020,Argentina,no-data,0,0,0,0,0
2,4/03/2020,Argentina,no-data,0,0,0,0,0
3,5/03/2020,Argentina,buenos-aires,1,2,0,0,0
4,6/03/2020,Argentina,no-data,0,0,0,0,0
...,...,...,...,...,...,...,...,...
867,30/05/2020,Argentina,0,795,8,0,0,0
868,31/05/2020,Argentina,0,637,11,0,0,0
869,1/06/2020,Argentina,0,564,17,0,0,0
870,2/06/2020,Argentina,0,904,13,0,0,0
871,3/06/2020,Argentina,0,930,13,0,0,0

In [7]:
del df_datasource['osm_admin_level_2']
del df_datasource['SUMtot_recuperados']
del df_datasource['SUMtot_test_negativos']
del df_datasource['SUMtot_test']

In [8]:
df_datasource.head()

,fecha,covid19argentina_admin_level_4,SUMnue_casosconf_diff,SUMnue_fallecidos_diff
0,2/03/2020,capital-federal,1,0
1,3/03/2020,no-data,0,0
2,4/03/2020,no-data,0,0
3,5/03/2020,buenos-aires,1,2
4,6/03/2020,no-data,0,0

In [9]:
df_datasource[df_datasource['covid19argentina_admin_level_4'] == 'no-data']

,fecha,covid19argentina_admin_level_4,SUMnue_casosconf_diff,SUMnue_fallecidos_diff
1,3/03/2020,no-data,0,0
2,4/03/2020,no-data,0,0
4,6/03/2020,no-data,0,0
5,7/03/2020,no-data,0,0
26,16/03/2020,no-data,0,0
...,...,...,...,...
786,19/05/2020,no-data,0,0
803,20/05/2020,no-data,0,0
820,21/05/2020,no-data,0,0
837,22/05/2020,no-data,0,0
854,23/05/2020,no-data,0,0

In [10]:
df_datasource.drop(df_datasource[df_datasource.covid19argentina_admin_level_4 == 'no-data'].index, inplace=True)
df_datasource.drop(df_datasource[df_datasource.covid19argentina_admin_level_4.isna()].index, inplace=True)

In [11]:
df_datasource.fecha = pd.to_datetime(df_datasource.fecha.astype(str), format='%d/%m/%Y')

In [12]:
df_datasource.head()

,fecha,covid19argentina_admin_level_4,SUMnue_casosconf_diff,SUMnue_fallecidos_diff
0,2020-03-02,capital-federal,1,0
3,2020-03-05,buenos-aires,1,2
6,2020-03-08,buenos-aires,8,0
7,2020-03-09,capital-federal,1,1
8,2020-03-09,chaco,5,0

In [13]:
df_datasource.rename(columns={
    'fecha':'index',
    'covid19argentina_admin_level_4':'Province/State'
}, inplace=True)

In [14]:
df_datasource.head()

       index   Province/State  SUMnue_casosconf_diff  SUMnue_fallecidos_diff
0 2020-03-02  capital-federal                      1                       0
3 2020-03-05     buenos-aires                      1                       2
6 2020-03-08     buenos-aires                      8                       0
7 2020-03-09  capital-federal                      1                       1
8 2020-03-09            chaco                      5                       0

In [15]:
df_datasource.sort_values(by=['Province/State', 'index'], ascending=True)

         index Province/State  SUMnue_casosconf_diff  SUMnue_fallecidos_diff
3   2020-03-05   buenos-aires                      1                       2
6   2020-03-08   buenos-aires                      8                       0
11  2020-03-10   buenos-aires                      1                       0
13  2020-03-11   buenos-aires                      1                       0
16  2020-03-13   buenos-aires                      1                       0
..         ...            ...                    ...                     ...
792 2020-05-19        tucuman                      0                       0
809 2020-05-20        tucuman                      0                       0
826 2020-05-21        tucuman                      1                       0
843 2020-05-22        tucuman                      0                       0
860 2020-05-23        tucuman                      3                       0

[789 rows x 4 columns]

In [16]:
#df_datasource = df_datasource.groupby(['Province/State', 'index']).sum().groupby(level=0).cumsum().reset_index()

In [17]:
df_deaths = df_datasource[['index','Province/State','SUMnue_fallecidos_diff']]
df_confirmed = df_datasource[['index','Province/State','SUMnue_casosconf_diff']]

In [18]:
df_deaths.head(20)

        index    Province/State  SUMnue_fallecidos_diff
0  2020-03-02   capital-federal                       0
3  2020-03-05      buenos-aires                       2
6  2020-03-08      buenos-aires                       0
7  2020-03-09   capital-federal                       1
8  2020-03-09             chaco                       0
9  2020-03-09         rio-negro                       0
10 2020-03-09          san-luis                       0
11 2020-03-10      buenos-aires                       0
12 2020-03-10   capital-federal                       1
13 2020-03-11      buenos-aires                       0
14 2020-03-11   capital-federal                       0
15 2020-03-12   capital-federal                       0
16 2020-03-13      buenos-aires                       0
17 2020-03-13   capital-federal                       1
18 2020-03-14   capital-federal                       0
19 2020-03-15      buenos-aires                       0
20 2020-03-15   capital-federal                       0
21 2020-03-15             chaco                       0
22 2020-03-15  tierra-del-fuego                       0
23 2020-03-16      buenos-aires                       0

In [19]:
df_confirmed.head()

       index   Province/State  SUMnue_casosconf_diff
0 2020-03-02  capital-federal                      1
3 2020-03-05     buenos-aires                      1
6 2020-03-08     buenos-aires                      8
7 2020-03-09  capital-federal                      1
8 2020-03-09            chaco                      5

In [20]:
df_confirmed.head()

       index   Province/State  SUMnue_casosconf_diff
0 2020-03-02  capital-federal                      1
3 2020-03-05     buenos-aires                      1
6 2020-03-08     buenos-aires                      8
7 2020-03-09  capital-federal                      1
8 2020-03-09            chaco                      5

In [21]:
df_confirmed['index'] = df_confirmed["index"].dt.strftime('%m/%d/%y')
df_deaths['index'] = df_deaths["index"].dt.strftime('%m/%d/%y')

In [22]:
df_deaths.head()

      index   Province/State  SUMnue_fallecidos_diff
0  03/02/20  capital-federal                       0
3  03/05/20     buenos-aires                       2
6  03/08/20     buenos-aires                       0
7  03/09/20  capital-federal                       1
8  03/09/20            chaco                       0

In [23]:
df_confirmed_pivot = df_confirmed.pivot(index='Province/State', columns='index', values='SUMnue_casosconf_diff').fillna(0)
df_deaths_pivot = df_deaths.pivot(index='Province/State', columns='index', values='SUMnue_fallecidos_diff').fillna(0)

In [24]:
df_confirmed_pivot.head()

index,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,03/14/20,03/15/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
Province/State,,,,,,,,,,,,,,,,,,,,,
buenos-aires,0.0,1.0,8.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,79.0,86.0,97.0,74.0,93.0,157.0,178.0,213.0,266.0,289.0
capital-federal,1.0,0.0,0.0,1.0,1.0,1.0,10.0,2.0,11.0,6.0,...,153.0,215.0,193.0,147.0,169.0,224.0,257.0,379.0,404.0,400.0
chaco,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,...,9.0,25.0,21.0,19.0,13.0,34.0,35.0,34.0,27.0,7.0
chubut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
cordoba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.0,9.0,20.0,20.0,9.0,2.0,12.0,9.0,0.0

In [25]:
df_confirmed_pivot.insert(0, 'Country/Region', 'Argentina')
df_deaths_pivot.insert(0, 'Country/Region', 'Argentina')

In [26]:
df_confirmed_pivot.head()

index,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,03/14/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
Province/State,,,,,,,,,,,,,,,,,,,,,
buenos-aires,Argentina,0.0,1.0,8.0,0.0,1.0,1.0,0.0,1.0,0.0,...,79.0,86.0,97.0,74.0,93.0,157.0,178.0,213.0,266.0,289.0
capital-federal,Argentina,1.0,0.0,0.0,1.0,1.0,1.0,10.0,2.0,11.0,...,153.0,215.0,193.0,147.0,169.0,224.0,257.0,379.0,404.0,400.0
chaco,Argentina,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,9.0,25.0,21.0,19.0,13.0,34.0,35.0,34.0,27.0,7.0
chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.0,9.0,20.0,20.0,9.0,2.0,12.0,9.0,0.0

In [27]:
df_confirmed_pivot = df_confirmed_pivot.reset_index()
df_deaths_pivot = df_deaths_pivot.reset_index()

In [28]:
df_confirmed_pivot

index,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
0,buenos-aires,Argentina,0.0,1.0,8.0,0.0,1.0,1.0,0.0,1.0,...,79.0,86.0,97.0,74.0,93.0,157.0,178.0,213.0,266.0,289.0
1,capital-federal,Argentina,1.0,0.0,0.0,1.0,1.0,1.0,10.0,2.0,...,153.0,215.0,193.0,147.0,169.0,224.0,257.0,379.0,404.0,400.0
2,chaco,Argentina,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,9.0,25.0,21.0,19.0,13.0,34.0,35.0,34.0,27.0,7.0
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.0,9.0,20.0,20.0,9.0,2.0,12.0,9.0,0.0
5,corrientes,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0
6,entre-rios,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,jujuy,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,la-pampa,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,la-rioja,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0
10,mendoza,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
11,misiones,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,neuquen,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,rio-negro,Argentina,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.0,17.0,6.0,2.0,2.0,6.0,2.0,3.0,6.0,5.0
14,salta,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
15,san-juan,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16,san-luis,Argentina,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,santa-cruz,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,santa-fe,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,4.0,0.0,2.0,3.0,4.0,0.0
19,santiago-del-estero,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
20,tierra-del-fuego,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,tucuman,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0

In [29]:
for r in range(0,len(df_confirmed_pivot)):
    for c in range(3,len(df_confirmed_pivot.columns)):
        df_confirmed_pivot.iloc[r,c] = df_confirmed_pivot.iloc[r,c - 1] + df_confirmed_pivot.iloc[r,c]

In [30]:
df_confirmed_pivot

index,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
0,buenos-aires,Argentina,0.0,1.0,9.0,9.0,10.0,11.0,11.0,12.0,...,2411.0,2497.0,2594.0,2668.0,2761.0,2918.0,3096.0,3309.0,3575.0,3864.0
1,capital-federal,Argentina,1.0,1.0,1.0,2.0,3.0,4.0,14.0,16.0,...,2618.0,2833.0,3026.0,3173.0,3342.0,3566.0,3823.0,4202.0,4606.0,5006.0
2,chaco,Argentina,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0,...,517.0,542.0,563.0,582.0,595.0,629.0,664.0,698.0,725.0,732.0
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,362.0,365.0,374.0,394.0,414.0,423.0,425.0,437.0,446.0,446.0
5,corrientes,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,79.0,79.0,79.0,79.0,78.0,78.0,78.0,78.0,78.0,78.0
6,entre-rios,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
7,jujuy,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
8,la-pampa,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
9,la-rioja,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,60.0,60.0,60.0,61.0,63.0,63.0,63.0,63.0,63.0,63.0
10,mendoza,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,87.0,87.0,87.0,87.0,87.0,89.0,89.0,89.0,89.0,89.0
11,misiones,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0
12,neuquen,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,114.0,114.0,114.0,114.0,114.0,114.0,114.0,114.0,114.0,114.0
13,rio-negro,Argentina,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,298.0,315.0,321.0,323.0,325.0,331.0,333.0,336.0,342.0,347.0
14,salta,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,7.0,7.0
15,san-juan,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0
16,san-luis,Argentina,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
17,santa-cruz,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0
18,santa-fe,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,244.0,244.0,245.0,245.0,249.0,249.0,251.0,254.0,258.0,258.0
19,santiago-del-estero,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.0,16.0,16.0,16.0,16.0,22.0,22.0,22.0,22.0,22.0
20,tierra-del-fuego,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,148.0,148.0,148.0,148.0,148.0,148.0,148.0,148.0,148.0,148.0
21,tucuman,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,43.0,43.0,46.0

In [31]:
df_deaths_pivot

index,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
0,buenos-aires,Argentina,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,2.0,2.0,3.0,2.0,2.0,5.0,9.0,5.0,4.0
1,capital-federal,Argentina,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,9.0,0.0,4.0,2.0,5.0,5.0,2.0,2.0,7.0,6.0
2,chaco,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,2.0,2.0,4.0,1.0,2.0,2.0,2.0
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0
5,corrientes,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,entre-rios,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,jujuy,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,la-pampa,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,la-rioja,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,mendoza,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,misiones,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,neuquen,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,rio-negro,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0
14,salta,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,san-juan,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,san-luis,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,santa-cruz,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,santa-fe,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,santiago-del-estero,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,tierra-del-fuego,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,tucuman,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
for r in range(0,len(df_deaths_pivot)):
    for c in range(3,len(df_deaths_pivot.columns)):
        df_deaths_pivot.iloc[r,c] = df_deaths_pivot.iloc[r,c - 1] + df_deaths_pivot.iloc[r,c]

In [33]:
df_deaths_pivot

index,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
0,buenos-aires,Argentina,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,148.0,150.0,152.0,155.0,157.0,159.0,164.0,173.0,178.0,182.0
1,capital-federal,Argentina,0.0,0.0,0.0,1.0,2.0,2.0,2.0,3.0,...,117.0,117.0,121.0,123.0,128.0,133.0,135.0,137.0,144.0,150.0
2,chaco,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.0,24.0,25.0,27.0,29.0,33.0,34.0,36.0,38.0,40.0
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,22.0,22.0,24.0,24.0,24.0,25.0,25.0,26.0,26.0
5,corrientes,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,entre-rios,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,jujuy,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,la-pampa,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,la-rioja,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
10,mendoza,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
11,misiones,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,neuquen,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
13,rio-negro,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,12.0,12.0,13.0,13.0,13.0,14.0,14.0,16.0,16.0
14,salta,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,san-juan,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,san-luis,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,santa-cruz,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,santa-fe,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
19,santiago-del-estero,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,tierra-del-fuego,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,tucuman,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [34]:
data_folder = '../dataset/johnsHopkins/'

confirmed_filename = 'time_series_covid19_confirmed_global.csv'
deaths_filename = 'time_series_covid19_deaths_global.csv'

confirmed_path = data_folder + confirmed_filename
deaths_path = data_folder + deaths_filename

In [35]:
df_confirmed = pd.read_csv(confirmed_path)
df_deaths = pd.read_csv(deaths_path)

In [36]:
df_confirmed.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,11173,11831,12456,13036,13659,14525,15205,15750,16509,17267
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1004,1029,1050,1076,1099,1122,1137,1143,1164,1184
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,8503,8697,8857,8997,9134,9267,9394,9513,9626,9733
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,763,763,763,763,764,764,764,765,844,851
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,70,70,71,74,81,84,86,86,86,86
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,25,25,25,25,25,25,26,26,26,26
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,12628,13228,13933,14702,15419,16214,16851,17415,18319,19268
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,7113,7402,7774,8216,8676,8927,9282,9492,10009,10524
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,107,107,107,107,107,107,107,107,107,107
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,3092,3089,3090,3092,3092,3095,3098,3104,3104,3106

In [43]:
df_confirmed = df_confirmed[df_confirmed.columns[:-11]]

In [44]:
del df_confirmed['Lat']
del df_confirmed['Long']

del df_deaths['Lat']
del df_deaths['Long']

In [45]:
df_confirmed.drop(df_confirmed[df_confirmed['Country/Region'] == 'Argentina'].index, inplace=True)
df_deaths.drop(df_deaths[df_deaths['Country/Region'] == 'Argentina'].index, inplace=True)

In [46]:
df_confirmed.head(10)

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,5639,6053,6402,6664,7072,7653,8145,8676,9216,9998
1,NaN,Albania,0,0,0,0,0,0,0,0,...,898,916,933,946,948,949,964,969,981,989
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,6442,6629,6821,7019,7201,7377,7542,7728,7918,8113
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,761,761,761,761,761,761,762,762,762,762
4,NaN,Angola,0,0,0,0,0,0,0,0,...,48,48,48,48,50,52,52,58,60,61
5,NaN,Antigua and Barbuda,0,0,0,0,0,0,0,0,...,25,25,25,25,25,25,25,25,25,25
7,NaN,Armenia,0,0,0,0,0,0,0,0,...,3860,4044,4283,4472,4823,5041,5271,5606,5928,6302
8,Australian Capital Territory,Australia,0,0,0,0,0,0,0,0,...,107,107,107,107,107,107,107,107,107,107
9,New South Wales,Australia,0,0,0,0,3,4,4,4,...,3071,3074,3075,3076,3078,3081,3082,3084,3086,3087
10,Northern Territory,Australia,0,0,0,0,0,0,0,0,...,29,29,29,29,29,29,29,29,29,29

In [47]:
df_confirmed_pivot.head()

index,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,05/14/20,05/15/20,05/16/20,05/17/20,05/18/20,05/19/20,05/20/20,05/21/20,05/22/20,05/23/20
0,buenos-aires,Argentina,0.0,1.0,9.0,9.0,10.0,11.0,11.0,12.0,...,2411.0,2497.0,2594.0,2668.0,2761.0,2918.0,3096.0,3309.0,3575.0,3864.0
1,capital-federal,Argentina,1.0,1.0,1.0,2.0,3.0,4.0,14.0,16.0,...,2618.0,2833.0,3026.0,3173.0,3342.0,3566.0,3823.0,4202.0,4606.0,5006.0
2,chaco,Argentina,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0,...,517.0,542.0,563.0,582.0,595.0,629.0,664.0,698.0,725.0,732.0
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,362.0,365.0,374.0,394.0,414.0,423.0,425.0,437.0,446.0,446.0

In [48]:
frames = [df_confirmed_pivot, df_confirmed]

In [49]:
result = pd.concat(frames)

In [50]:
result.sort_values(by=['Country/Region'])

,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20
0,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5639.0,6053.0,6402.0,6664.0,7072.0,7653.0,8145.0,8676.0,9216.0,9998.0
1,NaN,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,898.0,916.0,933.0,946.0,948.0,949.0,964.0,969.0,981.0,989.0
2,NaN,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6442.0,6629.0,6821.0,7019.0,7201.0,7377.0,7542.0,7728.0,7918.0,8113.0
3,NaN,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,761.0,761.0,761.0,761.0,761.0,761.0,762.0,762.0,762.0,762.0
4,NaN,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,48.0,48.0,48.0,50.0,52.0,52.0,58.0,60.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,375.0,375.0,376.0,381.0,388.0,391.0,398.0,423.0,423.0,423.0
260,NaN,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
262,NaN,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,106.0,122.0,128.0,130.0,167.0,184.0,197.0,209.0,212.0
229,NaN,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,654.0,654.0,679.0,753.0,761.0,772.0,832.0,866.0,920.0,920.0
230,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.0,42.0,42.0,44.0,46.0,46.0,48.0,51.0,51.0,56.0

In [52]:
result

,Province/State,Country/Region,03/02/20,03/05/20,03/08/20,03/09/20,03/10/20,03/11/20,03/12/20,03/13/20,...,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20
0,buenos-aires,Argentina,0.0,1.0,9.0,9.0,10.0,11.0,11.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,capital-federal,Argentina,1.0,1.0,1.0,2.0,3.0,4.0,14.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chaco,Argentina,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235.0,235.0,235.0,235.0,246.0,251.0,251.0,251.0,251.0,251.0
262,NaN,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,106.0,122.0,128.0,130.0,167.0,184.0,197.0,209.0,212.0
263,NaN,Comoros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,11.0,11.0,11.0,11.0,11.0,34.0,34.0,78.0,78.0
264,NaN,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,907.0,1118.0,1322.0,1524.0,1729.0,1936.0,2140.0,2350.0,2551.0,2738.0
265,NaN,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0

In [52]:
result[result['Country/Region'] == 'Argentina']

,Province/State,Country/Region,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,...,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20
0,buenos aires,Argentina,16.0,17.0,17.0,18.0,18.0,19.0,20.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,capital federal,Argentina,1.0,2.0,12.0,14.0,25.0,31.0,36.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chaco,Argentina,0.0,0.0,0.0,0.0,0.0,4.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chubut,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cordoba,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,corrientes,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,entre rios,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,jujuy,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,la pampa,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,la rioja,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,mendoza,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,misiones,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,neuquen,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,rio negro,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,salta,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,san juan,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,san luis,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,santa cruz,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,santa fe,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,santiago del estero,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,tierra del fuego,Argentina,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,tucuman,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Actividades

0) Analizar datasets, calcular estadísticos descriptivos, concluir al respecto sobre la cantidad/calidad de los datos

1) Analizar correlacion entre variables

2) Analizar situación en nuestra provincia vs otras en cantidad de infectados y fallecidos

3) Analizar relacion entre cantidad de tests y cantidad de infectados,fallecidos

4) Que informacion aporta la columna transmision_tipo?